// VAR =====
$Blue: hsl(223, 87%, 63%);
$LightRed: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$VeryDarkBlue: hsl(209, 33%, 12%);

@font-face {
    font-family: LibreFranklin;
    src: url(../asset/fonts/LibreFranklin-VariableFont_wght.ttf);
}


// STYLE =====
*{margin: 0; padding: 0; box-sizing: border-box;
    font-family: LibreFranklin, sans-serif;
}
body{
    min-height: 100vh;
    padding: 12% 8%;
    background: white;
    display: grid; place-content: center;
}
.container{display: grid;}

// HEADER=====
.header{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    justify-items: center;
    color: $VeryDarkBlue;
    &>*{margin-bottom: 3rem;}
    // Logo
    .logo{height: 2rem;}
    // Text
    .texts{
        display: grid;
        text-align: center;
        .heading{
            margin-bottom: 1.5rem;
            font-size: 2rem;
            color: $Gray;
            b{color: $VeryDarkBlue;}
        }
        .text{}
    }
    // Inputs
    .inputs{
        width: 100%;
        display: grid;
        justify-items: center;
        @mixin btn(){
            width: calc(100% - 3rem);
            height: 3.25rem;
            padding: 0 2rem;
            border-radius: 1.625rem;
            border: 1px solid $VeryDarkBlue;
            font-size: 1rem;
        }
        input{
            @include btn();
            outline-color: $VeryDarkBlue;
            color: $VeryDarkBlue;
            margin-bottom: .5rem;
            &.true{
                color: $Blue;
                border-color: $Blue;
                outline-color: $Blue;    
            }
            &.active{
                color: $LightRed;
                border-color: $LightRed;
                outline-color: $LightRed;
            }
        }
        .text-false{
            display: none;
            margin-bottom: 1.25rem;
            color: $LightRed;
            font-style: italic;
            font-size: 14px;
            &.active{display: block}
        }
        .btn{            
            @include btn();
            cursor: pointer;
            margin-top: .25rem;
            border: none;
            color: white;
            background: $Blue;
            font-weight: 600;
            &:hover{opacity: .75;}
            &:active{background: white; color: $Blue;}
        }
    }
}

// HERO=====
.hero{
    margin-bottom: 12rem;
    display: grid;
    img{width: 100%;}
}

// FOOTER=====
.footer{
    display: grid;
    justify-items: center;
    .icons{
        width: 9rem;
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        a{
            text-decoration: none;
            background: white;
            border-radius: 50%;
            height: 2.5em; width: 2.5rem;
            display: grid; place-content: center;
            i{font-size: 1.5rem; color: $Blue;}
            &:hover{background: $Blue; i{color: white;}}
        }
    }
    .text{color: $Gray;}
}



// RESPONSIVE =====
@media screen and (min-width: 768px) {
    body{padding: 5% 10%;}
    .container{max-width: 700px;}
    .header .texts .heading{font-size: 3rem; line-height: 3.25rem;}
    .header .inputs{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>*{margin: 0 !important;}
        input{width: calc(70% - 1rem);}
        .text-false{
            position: absolute;
            left: 2rem;
            top: 4rem;
        }
        .btn{width: 30%;}
    }
}

@media screen and (min-width: 1024px) {

}

